{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [ "ie >= 9" ]
      },
      "useBuiltIns": "usage"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@loadable/babel-plugin",
    "add-module-exports"
  ]
}