@font-default-color: rgb(120, 120, 120);
@border-default-color: rgb(130, 130, 130);

@font-face {
  font-family: myFirstFont;
  src: url('/comic-sans-ms.ttf');
}

.font-family {
  font-family: myFirstFont;
}

.middle {
  display: table-cell;
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
  }
  & > div {
    display: inline-block;
    vertical-align: middle;
  }
}